<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/css/bootstrap.min.css" />

<%- include('layout/headerProducts') %>

<!-- Hero Section -->
<section id="page-header" class="py-5 text-center">
  <div class="container">
    <p class="lead">Découvrez notre collection de produits</h2>
    <p >Trouvez  les meilleurs prix dans notre sélection variée de produits. Parcourez nos catégories et trouvez ce que vous cherchez  </p>
  </div>
</section>


<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary mb-4">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <select id="priceFilter" class="form-select me-auto">
        <option value="default">Trier les produits :</option>
        <option value="default">par défaut</option>
        <option value="1-10">de 1 à 10$</option>
        <option value="10-20">de 10 à 20$</option>
        <option value="20-100">de 20 à 100$</option>
        <option value="100+">+100$</option>
      </select>
    </div>
    <form id="searchForm" class="d-flex ms-auto" role="search">
      <input id="searchQuery" class="form-control me-2" type="search" placeholder="Rechercher votre produit" aria-label="Search" name="query">
      <button class="btn btn-outline-success" type="submit">Rechercher</button>
    </form>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>Catégories:</h3>
      <div id="category-filters">
        <% categories.forEach(category => { %>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="<%= category %>" id="category-<%= category %>" 
            <% if (selectedCategories.includes(category)) { %> checked <% } %>>
            <label class="form-check-label" for="category-<%= category %>">
              <%= category %>
            </label>
          </div>
        <% }); %>
      </div>
    </div>
    <div class="col-md-9">
      <section id="product-list" class="section-p4">
        <% if (products.length === 0) { %>
          <div class="alert alert-warning" role="alert">
            Aucun produit trouvé.
          </div>
        <% } else { %>
          <% products.forEach(product => { %>
            <div class="container margin">
              <div class="card border-0 shadow mb-3">
                <div class="row g-0">
                  <div class="col-md-4" style="border-radius: 20px; width: 278.2px; height: 278.2px;">
                    <img src="<%= product.image %>" alt="<%= product.title %>" class="img-fluid rounded-start">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title fw-bold"><%= product.title %></h5>
                      <p class="card-text fs-4 text-success">$<%= product.price_min %></p>
                      <p class="card-text">Catégorie: <%= product.category %></p>
                      <!-- Insérez d'autres informations de produit ici -->
                      <a href="#" class="btn btn-primary" onclick="redirectTo('<%= product.link %>')" style="background-color:#088178!important;">Cliquer pour plus d'information</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% }); %>
        <% } %>
      </section>

      <section id="pagination" class="section-p1">
        <% if (currentPage > 1) { %>
          <a href="?page=<%= currentPage - 1 %>&categories=<%= selectedCategories.join(',') %>"><i class="fas fa-long-arrow-alt-left"></i></a>
        <% } %>
        
        <% for (let i = 1; i <= totalPages; i++) { %>
          <a href="?page=<%= i %>&categories=<%= selectedCategories.join(',') %>" class="<%= currentPage === i ? 'active' : '' %>"><%= i %></a>
        <% } %>
        
        <% if (currentPage < totalPages) { %>
          <a href="?page=<%= currentPage + 1 %>&categories=<%= selectedCategories.join(',') %>"><i class="fas fa-long-arrow-alt-right"></i></a>
        <% } %>
      </section>
    </div>
  </div>
</div>

<%- include('layout/footer') %>

<script>
  // Redirection vers le lien du produit
  function redirectTo(url) {
    window.location.href = url;
  }

  // Filtrage des produits par prix et recherche
  document.getElementById('priceFilter').addEventListener('change', function() {
    applyFilters();
  });

  // Soumission du formulaire de recherche
  document.getElementById('searchForm').addEventListener('submit', function(event) {
    event.preventDefault();
    applyFilters();
  });

  // Filtrage des produits par catégories
  document.querySelectorAll('#category-filters input[type="checkbox"]').forEach(checkbox => {
    checkbox.addEventListener('change', function() {
      applyFilters();
    });
  });

  function applyFilters() {
    const selectedValue = document.getElementById('priceFilter').value;
    const query = document.getElementById('searchQuery').value.trim();
    const selectedCategories = Array.from(document.querySelectorAll('#category-filters input[type="checkbox"]:checked')).map(cb => cb.value);
    let url = '/MarketPulse/products';
    let queryParams = [];

    if (selectedValue !== 'default') {
      if (selectedValue === '100+') {
        queryParams.push('price_min=100');
      } else {
        const [min, max] = selectedValue.split('-');
        queryParams.push(`price_min=${min}&price_max=${max}`);
      }
    }

    if (query) {
      queryParams.push(`query=${query}`);
    }

    if (selectedCategories.length > 0) {
      queryParams.push(`categories=${selectedCategories.join(',')}`);
    }

    if (queryParams.length > 0) {
      url += `?${queryParams.join('&')}`;
    }

    window.location.href = url;
  }
</script>
